@font-face {
    font-family: Uber;
    src: url(../fonts/UberMoveMedium.otf);
}

/*---------DRY-------*/
%w-h-100 {
    width: 100%;
    height: 100%;
}

%flex-col {
    display: flex;
    flex-direction: column;
}

//------ (～￣▽￣)～) ---------//

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Uber , sans-serif;
}

html {
    @extend %w-h-100;
}

body {
    @extend %w-h-100;
    @extend %flex-col;
    background-image: url(../images/left-hero.svg), url(../images/right-hero.svg);
    background-position: top left, top right;
    background-repeat: no-repeat, no-repeat;
    background-color: #ffdada;
}

main {
    @extend %w-h-100;
}

input, a {
    outline: none;
    border: none;
    color: black;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

/*-------HEADER--------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 32px;
    background-color: transparent;
    position: fixed;
    top: 0;

    .search-container {
        width: 600px;
        height: 55px;
        visibility: hidden;
    }

    .search-container::before {
        content: '';
        width: 600px;
        height: 55px;
        display: block;
        position: absolute;
        background-color: rgb(255, 0, 0);
    }

    #search {
        @extend %w-h-100;
        background-color: rgb(238, 238, 238);
        padding-left: 20px;
        font-size: 15px;
        margin-right: 220px;
    }

    #sign-in-header {
        z-index: 99;
    }
}

.ham-logo-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    cursor: pointer;
}

.sign-in-btn {
    width: 85px;
    height: 45px;
    border-radius: 25px;
    outline: none;
    border: none;
    font-size: 18px;
    cursor: pointer;

    &:hover {
        background-color: rgb(219, 219, 219);
    }
}

/*--------OVERLAY-----------*/
#overlay {
    @extend %w-h-100;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.493);
    visibility: hidden;
    transition: visibility 0.1s cubic-bezier(0, .52, 0, 1);
    z-index: 1;
}

/*--------FLYOUT-MENU-----------*/
#flyout-menu {
    width: 15%;
    height: 100%;

    position: fixed;
    left: -15%;
    top: 0;

    @extend %flex-col;
    justify-content: space-between;
    align-items: flex-start;

    padding: 25px;
    background-color: white;

    transition: left 0.3s cubic-bezier(0, .52, 0, 1);

    overflow: hidden;
    z-index: 2;

    &.active {
        left: 0;
    }
}
.upper-menu {
    width: 100%;

    & > button {
        background-color: black;
        color: white;
        width: 100%;
        height: 55px;
        font-size: 18px;
    }

    & > p {
        font-size: 15px;
        margin-top: 20px;
        color: rgb(116, 116, 116);
    }
}

.lower-menu {
    @extend %flex-col;
    margin-bottom: 20px;

    .lower-upper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;

        & > img {
            width: 55px;
            height: 55px; 
        }
    }
    
    .lower-lower {
        button {
            margin-right: 10px;
        }
    }
}

/*-------FIRST DIV--------*/

.first-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @extend %w-h-100;

    .first-div-content {
        padding: 0 40px 0 40px;

        & > h1 {
            font-size: 50px;
            letter-spacing: 2px;
            margin: 0 600px 50px 0;
        }
        
        & > p {
            margin-top: 25px;
        }
    }
}

.input-container {
    display: flex;

    & > input {
        width: 540px;
        height: 55px;
        padding-left: 10px;
        margin-right: 8px;
        font-size: 18px;
    }

    & > button {
        height: 55px;
        width: 200px;
        background-color: white;
        font-size: 18px;
        margin-right: 8px;
    }

    & > :nth-child(3) {
        background-color: black;
        color: white;
        width: 115px;
        height: 55px;
        font-size: 18px;
    }

    & > :nth-child(3):hover {
        background-color: rgb(58, 58, 58);
    }
}

.separator {
    height: 60px;
    background-color: white;
}

/*--------SECOND DIV--------*/
.second-div {
    background-color: white;
    padding: 32px;

    .card-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        gap: 20px;

        .card {
            flex: 1 1;
        
            & > img {
                cursor: pointer;
            }
            
            & > h1 {
                font-size: 26px;
                margin: 10px 0 10px 0;
                letter-spacing: 2px;
            }
        }
    }

    .locations {
        @extend %flex-col;

        .data-1-container, .data-2-container{
            @extend %flex-col;
            justify-items: center;
            margin-top: 100px;
        }
    }
}

.headings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.cities {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4 , 1fr);
}

.city {
    font-weight: 200;
    font-size: 20px;
    margin: 20px 0 15px 0;
    color: rgb(129, 129, 129);
}

.data-2-container > h1 {
    margin-bottom: 25px;
}

/*--------FOOTER--------*/

footer {
    @extend %flex-col;
    background-color: black;
    padding: 80px 32px 32px 32px;
    height: 530px;

    .footer-main {
        @extend %flex-col;
        background-color: black;

        .upper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .upper-left {
                @extend %flex-col;
                justify-content: center;
                height: 100%;
                gap: 120px;

                .logo-container {
                    & > img {
                        margin-right: 20px;
                    }
                }
            }

            .upper-right {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 200px;
                row-gap: 15px;
                margin-right: 300px;

                .help {
                    margin: 0;
                    font-family: sans-serif;
                    color: white;
                    font-size: 16px;
                }
                
                .help:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        hr {
            margin: 40px 0 40px 0;
        }

        .lower {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 20px;
            color: white;

            .lower-left {
                & > img {
                    background-color: white;
                    margin-right: 10px;
                }
            }

            .lowerRight {
                display: flex;
                flex-direction: row;
                gap: 20px;

                .lower-middle {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    justify-content: center;
                    align-items: flex-end;
                    margin: 0 20px 0 20px;

                    .lower-middle-para {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                    }
                }

                .lower-right {
                    @extend %flex-col;
                    justify-content: space-between;
                }
            }
        }
    }
}